

<h1 class="register-h1">Register User</h1>
<div layout="column" layout-padding ng-cloak>
    
    <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
  <md-content class="md-no-momentum register-view">
    <form ng-submit="vm.registerUser()">
      <md-input-container class="md-icon-float md-block">
        <label>*Username</label>
        <md-icon md-svg-src=""class="name"></md-icon>
        <input ng-model="vm.user.username" type="text">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>*Password</label>
        <md-icon md-svg-src=""class="name"></md-icon>
        <input ng-model="vm.user.password" type="text">
      </md-input-container>
    </form>
    <div layout="row">
      <span flex></span>
      
      <select ng-model="vm.user.cohort">
          <option value="">-- Please Choose Your Cohort --</option>
          <option ng-repeat ="cohort in vm.cohorts.list track by $index" value="{{cohort.id}}">{{cohort.cohort_name}}</option>
      </select>
      <span flex></span>
    </div>
    <div layout="row">
        <md-button class="md-primary  md-raised" ng-click="vm.registerUser()"> Register </md-button><span class="required-field" flex>*Required</span>
        <md-button class="md-accent" href="#!landing"> Cancel </md-button>
    </div>
    </md-content>
    
</div>