<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/user.nav.html'"></div>
<h1 id="welcome" class="lead reports-welcome">Welcome, {{vm.userObject.userName}}!</h1>
<div class="container">
  
  <canvas id="line" class="chart chart-line" chart-colors="vm.colors" legend="true" chart-type="vm.type" chart-data="vm.data"
  chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
  chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick()">
  </canvas>
<span class="chart-span"></span>
<div class="pie-container">
  <canvas id="pie" class="chart chart-pie"
  chart-data="vm.pieData" chart-labels="vm.pieLabels" chart-options="vm.pieOptions" chart-colors="vm.colors">
  </canvas> 
</div>
  
</div>
