<h1 class="tech-page-head"> Technologies Used</h1>


<div layout="row">
        <span flex></span>
        <mat-list layout="column" >
                <mat-list-item> AngularJS </mat-list-item>
                <mat-list-item> Angular Material </mat-list-item>
                <mat-list-item> Chart.js </mat-list-item>
                <mat-list-item> Moment.js </mat-list-item>
                <mat-list-item> Express </mat-list-item>
                <mat-list-item> Node.js </mat-list-item>
                <mat-list-item> PostgreSQL </mat-list-item>

        </mat-list>
        <span flex></span>
</div>



