<div ng-include="'views/partials/user.nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>

    <table ng-table="vm.tableParams" class="table" show-filter="true">
        <tr ng-repeat="user in $data">
            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                </td>
            <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                </td>
        </tr>
    </table>







    
</div>
