<div ng-include="'views/partials/user.nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>

    
    <div class="col-md-6">
        <h3>ngTable directive</h3>
        <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
            <td data-title="'Date'" header-title="'User name'">{{row.name}}</td>
            <td data-title="'Topic'" header-title="'User age'" header-class="'bg-warning'">{{row.age}}</td>
            <td data-title="'Money'" header-title="'User salary'">{{row.money}}</td>
            </tr>
        </table>
    </div>







    
</div>
